{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>AccapellApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'Login_v11/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v11/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	{% for message in messages %}
			<div class="alert alert-danger" id="msg">
				{{ message }}
			</div>
	{% endfor %}

	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" method="post">

					{% csrf_token %}

					<span class="login100-form-title p-b-55">
						Password reset form
					</span>

					<p class="p-b-45">Please enter your registered email address.</p>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn" type="submit">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'Login_v11/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v11/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'Login_v11/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v11/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v11/js/main.js' %}"></script>

	<script>
		setTimeout(function(){
			document.getElementById("msg").remove();
		}, 3000);
	</script>

</body>
</html>